{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "linyhao@cn.ibm.com",
      "Space": "dev"
    },
    "Name": "ClarkJavaLiberty",
    "Instrumentation": {
      "services": [
        "Language Translator-xe"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}